<div class="text-3xl">Who's that Pokémon?!</div>
<div class="mt-4">Challenge your friends and find out who's the Pokémon master</div>

<div class="flex items-center space-x-4 mt-8">
  <%= form_with url: rooms_path do |form| %>
    <%= form.submit "Create a New Room", class: "cursor-pointer p-2 px-4 bg-blue-300 rounded" %>
  <% end %> 

  <p>or</p>


  <%= form_with url: rooms_get_path, method: "get" do |form| %>
    <%= form.text_field :room_code %>
    <%= form.submit "Enter Room", class: "cursor-pointer p-2 px-4 bg-blue-300 rounded" %>
  <% end %>
</div>
